.tippy-content hr {
  margin: 3px;
}

.tippy-content p:last-child {
  margin-bottom: 0px;
}

.tippy-content code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.tippy-content pre code {
  padding: 0px;
  font-size: 100%;
  background-color: transparent;
  border-radius: 0px;
}

.codewyng-file-header {
  background-color: rgba(0, 0, 0, 0.1);
}
.codewyng-file {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.codewyng-file:not(:first-child) {
  margin-top: 16px;
}
.codewyng-file:not(:last-child) {
  margin-bottom: 16px;
}

.codewyng-hunk:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.codewyng-hunk a:hover {
  text-decoration: none;
}

.codewyng-hunk a {
  color: black;
}

.codewyng-highlight {
  background-color: rgba(255, 179, 109, 0.5);
  color: black;
}
